## Question 1: 
### 1. Using the IRIS dataset do the NaiveBayes Modelling.

In [1]:
#Importing the libraries  
import numpy as nm  
import matplotlib.pyplot as mtp  
import pandas as pd

In [2]:
from sklearn.datasets import load_iris
data = load_iris()

In [3]:
import pandas as pd
df = pd.DataFrame(data.data)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [4]:
df.columns = data.feature_names

In [5]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
from sklearn.linear_model import LogisticRegression   
from sklearn.model_selection import train_test_split

#Logistic Regression
X_train, X_test, y_train, y_test = train_test_split(data.data, data.target,
                                                    stratify=data.target,
                                                    random_state=42,train_size = 0.7)

In [7]:
# Feature Scaling  
from sklearn.preprocessing import StandardScaler  
sc = StandardScaler()  
X_train = sc.fit_transform(X_train)  
X_test = sc.transform(X_test)

In [8]:
# Fitting Naive Bayes to the Training set  
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [10]:
# Predicting the Test set results  
y_pred = classifier.predict(X_test)

In [11]:
# Making the Confusion Matrix  
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, y_pred)

In [12]:
cm

array([[15,  0,  0],
       [ 0, 14,  1],
       [ 0,  3, 12]])

In [13]:
from sklearn.metrics import classification_report

print("The classification report is as follows...\n")
print(classification_report(y_test, y_pred))

The classification report is as follows...

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.82      0.93      0.87        15
           2       0.92      0.80      0.86        15

    accuracy                           0.91        45
   macro avg       0.92      0.91      0.91        45
weighted avg       0.92      0.91      0.91        45