## Question 1: 
### 1. Do the market basket analysis with Bread_Basket dataset.

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os

# for market basket analysis
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [41]:
df = pd.read_csv('/content/drive/My Drive/courses taken/Advanced ML/Day-39/Materials/BreadBasket_DMS - Arindam Dev.csv',encoding = 'unicode_escape')
df.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

In [42]:
#shape of dataset:
df.shape

(21293, 4)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21293 entries, 0 to 21292
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         21293 non-null  object
 1   Time         21293 non-null  object
 2   Transaction  21293 non-null  int64
 3   Item         21293 non-null  object
dtypes: int64(1), object(3)
memory usage: 665.5+ KB

### Checking the missing values

In [44]:
df.isnull().sum()

Date           0
Time           0
Transaction    0
Item           0
dtype: int64

In [45]:
df.nunique()

Date            159
Time           8240
Transaction    9531
Item             95
dtype: int64

In [46]:
df.columns

Index(['Date', 'Time', 'Transaction', 'Item'], dtype='object')

## Feature engineering

In [47]:
df['Date'] = pd.to_datetime(df['Date'])
print (df['Date'].dtype)

datetime64[ns]

In [48]:

df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day

In [49]:
df.head()

        Date      Time  Transaction           Item  Year  Month  day
0 2016-10-30  09:58:11            1          Bread  2016     10   30
1 2016-10-30  10:05:34            2   Scandinavian  2016     10   30
2 2016-10-30  10:05:34            2   Scandinavian  2016     10   30
3 2016-10-30  10:07:57            3  Hot chocolate  2016     10   30
4 2016-10-30  10:07:57            3            Jam  2016     10   30

## EDA

In [50]:
df.describe()

        Transaction          Year         Month           day
count  21293.000000  21293.000000  21293.000000  21293.000000
mean    4951.990889   2016.597943      5.904898     15.105856
std     2787.758400      0.490325      4.557956      8.933237
min        1.000000   2016.000000      1.000000      1.000000
25%     2548.000000   2016.000000      2.000000      7.000000
50%     5067.000000   2017.000000      3.000000     15.000000
75%     7329.000000   2017.000000     11.000000     23.000000
max     9684.000000   2017.000000     12.000000     31.000000

List of unique Items

In [51]:
df.columns

Index(['Date', 'Time', 'Transaction', 'Item', 'Year', 'Month', 'day'], dtype='object')

In [52]:
df['Item'].unique()

array(['Bread', 'Scandinavian', 'Hot chocolate', 'Jam', 'Cookies',
       'Muffin', 'Coffee', 'Pastry', 'Medialuna', 'Tea', 'NONE',
       'Tartine', 'Basket', 'Mineral water', 'Farm House', 'Fudge',
       'Juice', "Ella's Kitchen Pouches", 'Victorian Sponge', 'Frittata',
       'Hearty & Seasonal', 'Soup', 'Pick and Mix Bowls', 'Smoothies',
       'Cake', 'Mighty Protein', 'Chicken sand', 'Coke',
       'My-5 Fruit Shoot', 'Focaccia', 'Sandwich', 'Alfajores', 'Eggs',
       'Brownie', 'Dulce de Leche', 'Honey', 'The BART', 'Granola',
       'Fairy Doors', 'Empanadas', 'Keeping It Local', 'Art Tray',
       'Bowl Nic Pitt', 'Bread Pudding', 'Adjustment', 'Truffles',
       'Chimichurri Oil', 'Bacon', 'Spread', 'Kids biscuit', 'Siblings',
       'Caramel bites', 'Jammie Dodgers', 'Tiffin', 'Olum & polenta',
       'Polenta', 'The Nomad', 'Hack the stack', 'Bakewell',
       'Lemon and coconut', 'Toast', 'Scone', 'Crepes', 'Vegan mincepie',
       'Bare Popcorn', 'Muesli', 'Crisps', 'Pintxos', 'Gingerbread syrup',
       'Panatone', 'Brioche and salami', 'Afternoon with the baker',
       'Salad', 'Chicken Stew', 'Spanish Brunch',
       'Raspberry shortbread sandwich', 'Extra Salami or Feta',
       'Duck egg', 'Baguette', "Valentine's card", 'Tshirt',
       'Vegan Feast', 'Postcard', 'Nomad bag', 'Chocolates',
       'Coffee granules ', 'Drinking chocolate spoons ',
       'Christmas common', 'Argentina Night', 'Half slice Monster ',
       'Gift voucher', 'Cherry me Dried fruit', 'Mortimer', 'Raw bars',
       'Tacos/Fajita'], dtype=object)

In [53]:
df[df['Item']=='Bread'].head()

         Date      Time  Transaction   Item  Year  Month  day
0  2016-10-30  09:58:11            1  Bread  2016     10   30
9  2016-10-30  10:13:03            5  Bread  2016     10   30
18 2016-10-30  10:20:51            8  Bread  2016     10   30
19 2016-10-30  10:21:59            9  Bread  2016     10   30
23 2016-10-30  10:27:21           11  Bread  2016     10   30

In [54]:
df.groupby('Item')['Transaction'].sum().sort_values(ascending=False).head(20)

Item
Coffee            27084057
Bread             16213533
Tea                7030856
Cake               5932362
Sandwich           4344466
Pastry             4098061
NONE               3395760
Cookies            2930952
Hot chocolate      2796539
Medialuna          2350450
Juice              2103470
Scone              1961007
Toast              1930582
Soup               1791445
Brownie            1585847
Farm House         1529993
Muffin             1524524
Alfajores          1512575
Spanish Brunch     1294146
Baguette           1109334
Name: Transaction, dtype: int64

#### Annual transaction

In [55]:
df.groupby(['Year'])['Transaction'].sum()

Year
2016    17471949
2017    87970793
Name: Transaction, dtype: int64

#### Monthly transaction

In [56]:
df.groupby(['Month'])['Transaction'].sum()

Month
1     17233990
2     26167960
3     33356449
4     11212394
10       33333
11     5864423
12    11574193
Name: Transaction, dtype: int64

## Basket Analysis

In [90]:
basket = df.groupby(['Transaction','Item'])['day'].sum().unstack().fillna(0)
basket

Item         Adjustment  ...  Victorian Sponge
Transaction              ...
1                   0.0  ...               0.0
2                   0.0  ...               0.0
3                   0.0  ...               0.0
4                   0.0  ...               0.0
5                   0.0  ...               0.0
...                 ...  ...               ...
9680                0.0  ...               0.0
9681                0.0  ...               0.0
9682                0.0  ...               0.0
9683                0.0  ...               0.0
9684                0.0  ...               0.0

[9531 rows x 95 columns]

In [91]:
basket_model = basket.applymap(lambda x: 1 if x>0 else 0)
basket_model

Item         Adjustment  ...  Victorian Sponge
Transaction              ...
1                     0  ...                 0
2                     0  ...                 0
3                     0  ...                 0
4                     0  ...                 0
5                     0  ...                 0
...                 ...  ...               ...
9680                  0  ...                 0
9681                  0  ...                 0
9682                  0  ...                 0
9683                  0  ...                 0
9684                  0  ...                 0

[9531 rows x 95 columns]

In [92]:
popular_sets = apriori(basket_model, min_support=0.08, use_colnames=True)

In [93]:
popular_sets

    support         itemsets
0  0.324940          (Bread)
1  0.103137           (Cake)
2  0.475081         (Coffee)
3  0.085510         (Pastry)
4  0.141643            (Tea)
5  0.089393  (Coffee, Bread)